{{#each movies}}
  <section class="ui stacked inverted segment">
    
    <h2 class="ui inverted header">
      {{title}}
    </h2>
    <p1> Total Duration: {{duration}} </p1>
    <br><br>
    <a href="/movies/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deletemovies/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}	
