{{> menu}}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- PLEASE NO CHANGES BELOW THIS LINE (UNTIL I SAY SO) -->
  <script language="javascript" type="text/javascript" src="libraries/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="webTest.js"></script>
  <!-- OK, YOU CAN MAKE CHANGES BELOW THIS LINE AGAIN -->

  <!-- This line removes any default padding and style.
       You might only need one of these values set. -->
  <style> body { padding: 0; margin: 0; } </style>


<section class="ui two column inverted grid segment">
  <div class="ui column inverted">
    <h2>Welcome to the Movies App!</h2>
      <p2>
        This app will allow users to create and maintain a collection of movies.
      </p2>
    <br><br>
      <div class="buttons">
        <button class="ui blue button" onclick="showHide()">
          Read more <i class="arrow circle right icon"></i>
        </button>
        <button class="ui green button" onclick="alert('Thank you for your feedback')">
          Like it? <i class="thumbs up icon"></i>
        </button>
        <button class="ui red button" onclick="alert('Sorry to hear about that we will do our best to improve!')">
          Like it? <i class="thumbs down icon"></i>
        </button>
        <button class="ui orange button" onclick="welcomeUser()">
          Who are you? <i class="user icon"></i>
        </button>
      </div>

      <div id="readmore" class="ui message">
        <p>
          Welcome to 321 Movies a public movie watchlist, cant decide what movie to watch? let us decide in 3 , 2 , 1!!!
        </p>  
      </div>
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
  </div>
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2FCharacter_Assets_Atmb-sq_character-aladdin_launch.jfif?v=1616096020209">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2Fcharacter_princess_mulan_square_18856_e1866aac.jpeg?v=1616096058584">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2F1486126267-mickey-mouse.jpg?v=1616096286356">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2FProfile_-_Dipper_Pines.png?v=1616096157175">
      </div>
    </div>
  </div>
</section>
