{{> menu}}

<section class="ui two column inverted grid segment">
  <div class="ui column inverted">
    <h2>Welcome to the Movies App!</h2>
      <p>
        This app will allow users to create and maintain a collection of moviess.
      </p>
      <div class="buttons">
        <button class="ui blue button" onclick="showHide()">
          Read more <i class="arrow circle right icon"></i>
        </button>
        <button class="ui green button" onclick="alert('Thanks! But i see you as more of a friend ')">
          Like it? <i class="thumbs up icon"></i>
        </button>
        <button class="ui red button" onclick="welcomeUser()">
          Who are you? <i class="user icon"></i>
        </button>
      </div>

      <div id="readmore" class="ui message">
        <p>
          Welcome to 321 Movies Basically a disney+ clone
        </p>  
      </div>
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
  </div>
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2FCharacter_Assets_Atmb-sq_character-aladdin_launch.jfif?v=1616096020209">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2Fcharacter_princess_mulan_square_18856_e1866aac.jpeg?v=1616096058584">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2F1486126267-mickey-mouse.jpg?v=1616096286356">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2FProfile_-_Dipper_Pines.png?v=1616096157175">
      </div>
    </div>
  </div>
</section>
