/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  
  background-image :url("https://cdn.glitch.com/ad89156a-8c6c-404b-95d3-4ccbe89a0d4f%2Fdisney.jfif?v=1616094118089");
   background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}
